.app{
    background-color:rgb(24, 24, 24);
}
.container{
    background-color:rgb(37, 37, 37);
    margin:0 auto;
    display: flex;
    justify-content: center;
    width:80%;
    height: 100vh;
}
.title-div{
    position: absolute;
    margin-top:10px;
    background-color:rgb(24, 24, 24);
    padding:10px 30px 20px;
    border-radius: 50px;
}
.title-txt{
    color:whitesmoke;
    font-size:3.5em;
}
.slider-wrapper{
    position: fixed; /* here can I use fixed to prevent from scrolling when hovering, is there another solution to do the same without using fixed.*/
    top:-180px;
    width:240px;
    min-height: 1150px;
    transform: rotate(65deg);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
